<h1>Capstone - Week 3 - Final</h1>

<h2>Import Our Libraries</h2>

In [ ]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

<h2>Request the URL, convert it to BS, and pull out the table</h2>

In [ ]:
page = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
pageMarkup = BeautifulSoup(page.read(),"lxml")

postalCodesTable = pageMarkup.find_all('table')[0]

<h2>Convert the table to a dataframe </h2>

In [3]:
df = pd.read_html(str(postalCodesTable))
df = df[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

<h2>Clean up the 'Not assigned' fields</h2>

In [4]:
df = df[(df[[0,1,2]] != 'Not assigned').all(axis=1)]
df.head()

          0                 1                 2
0  Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park

<h2>Loop through the dataframe to group rows on borough</h2>

In [39]:
newDf = pd.DataFrame(columns=['Postcode','Borough','Neighborhood'])

oldP = ""
oldB = ""
oldN = ""

newIndex=0

for index, row in df.iterrows():
    
    if index != 0:
        oldP = postcode
        oldB = borough
        oldN = neighborhood
        
    postcode = row[0]
    borough = row[1]
    neighborhood = row[2]
    
    if borough == oldB:
        neighborhood = oldN + ", " + neighborhood
    elif borough != oldB:
        newDf.loc[newIndex] = [oldP,oldB,oldN]
        newIndex += 1
        
    if index == len(df.index) - 1:
        newDf.loc[newIndex] = [postcode,borough,neighborhood]
        
newDf.drop(newDf.index[:2], inplace=True)

newDf.head()

  Postcode           Borough                      Neighborhood
2      M4A        North York       Parkwoods, Victoria Village
3      M5A  Downtown Toronto         Harbourfront, Regent Park
4      M6A        North York  Lawrence Heights, Lawrence Manor
5      M9A         Etobicoke                  Islington Avenue
6      M1B       Scarborough                    Rouge, Malvern

<h2>Show the dimensions of the final dataframe</h2>

In [40]:
newDf.shape

(83, 3)